@model IEnumerable<Usmp.Fia.Dominio.Modelos.EstudiantesModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombrecompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_crea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_modif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_crea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_modif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clave)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombrecompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_crea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_modif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_crea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_modif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clave)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idestudiante }) |
            @Html.ActionLink("Details", "Details", new { id=item.idestudiante }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idestudiante })
        </td>
    </tr>
}

</table>
